<div class="flex items-center justify-center bg-cyan-200 w-full p-5 min-h-screen max-h-full">
  <div class="not-prose flex gap-8 flex-row md:flex-col items-center justify-center z-[15] relative border-2 mb-5 border-black bg-white bg-[radial-gradient(#cacbce_1px,transparent_1px)] px-10 py-20 shadow-base [background-size:16px_16px] m750:px-5 m750:py-10">
    <div>
      <h1 class="text-5xl font-bold"><%= greet %>, <%= current_user.first_name %>!</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:"mt-5", method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: "w-full mb-2 border-black border-2 p-2.5 focus:outline-none focus:shadow-[2px_2px_0px_rgba(0,0,0,1)]
                  focus:bg-[#FFA6F6] active:shadow-[2px_2px_0px_rgba(0,0,0,1)] rounded-md" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password",
          class: "w-full mb-2 border-black border-2 p-2.5 focus:outline-none focus:shadow-[2px_2px_0px_rgba(0,0,0,1)]
                  focus:bg-[#FFA6F6] active:shadow-[2px_2px_0px_rgba(0,0,0,1)] rounded-md", placeholder: "new password" %>
          <br><i>(leave blank if you don't want to change it - </i>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
          class: "w-full mb-2 border-black border-2 p-2.5 focus:outline-none focus:shadow-[2px_2px_0px_rgba(0,0,0,1)]
                  focus:bg-[#FFA6F6] active:shadow-[2px_2px_0px_rgba(0,0,0,1)] rounded-md", placeholder: "confirm new password" %>
        </div>

        <div class="field">
          <%= f.password_field :current_password, autocomplete: "current-password",
          class: "w-full mb-2 border-black border-2 p-2.5 focus:outline-none focus:shadow-[2px_2px_0px_rgba(0,0,0,1)]
                  focus:bg-[#FFA6F6] active:shadow-[2px_2px_0px_rgba(0,0,0,1)] rounded-md", placeholder: "current password" %>
          <br><i>(we need your current password to confirm your changes)</i>
        </div>

        <div class="actions">
          <%= f.submit "Update",
            class: "block text-center h-12 w-full border-black border-2 p-2.5 bg-bg hover:bg-[#79F7FF] hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] active:bg-[#00E1EF]"%>
        </div>
      <% end %>
    </div>
    <div class="relative">
      <% if current_user.transactions %>
      <h1 class="text-3xl font-bold">Recent transactions:</h1>
      <div class="grid grid-cols-3 gap-4">
        <% current_user.transactions.each do |transaction| %>
          <div class="w-80 my-5 h-full border-black border-2 rounded-md hover:shadow-[8px_8px_0px_rgba(0,0,0,1)] bg-white">
            <div class="w-full h-full flex flex-col">
              <div class="flex items-center justify-items-center">
                <figure class="w-full py-2 px-1 m-auto">
                  <%= image_tag transaction.product.image_link, class: 'w-20 h-20 object-cover', alt: 'thumbnail' %>
                </figure>
                <span class="text-3xl pr-5 font-bold"><%= transaction.product.name %></span>
                <% if transaction.product.sub_description %>
                  <span class="text-sm pr-5 font-bold"><%= transaction.product.sub_description %></span>
                <% end %>
              </div>
              <div class="m-auto text-center">
                <span><%= transaction.created_at.strftime('%l:%M %p on %a %b %-d, %Y') %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <h1 class="mt-10 text-3xl font-bold">Recent bids:</h1>
      <div class="grid grid-cols-3 gap-4">
        <% current_user.bids.each do |bid| %>
          <div class="w-80 my-5 h-full border-black border-2 rounded-md hover:shadow-[8px_8px_0px_rgba(0,0,0,1)] bg-white">
            <div class="w-full h-full flex flex-col">
              <div class="flex items-center justify-items-center">
                <figure class="w-full py-2 px-1 m-auto">
                  <%= image_tag bid.product.image_link, class: 'w-20 h-20 object-cover', alt: 'thumbnail' %>
                </figure>
                <span class="text-3xl pr-5 font-bold"><%= bid.product.name %></span>
                <% if bid.product.sub_description %>
                  <span class="text-sm pr-5 font-bold"><%= bid.product.sub_description %></span>
                <% end %>
              </div>
              <div class="m-auto text-center">
                <span><%= bid.created_at.strftime('%l:%M %p on %a %b %-d, %Y') %></span>
                <div>
                  <span class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400"><%= bid.status.titleize %></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
