<div class="flex items-center justify-center bg-cyan-200 w-full p-5 min-h-screen max-h-full">
  <div class="not-prose flex items-center justify-center z-[15] relative border-2 mb-5 border-black bg-white bg-[radial-gradient(#cacbce_1px,transparent_1px)] px-10 py-20 shadow-base [background-size:16px_16px] m750:px-5 m750:py-10">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h1 class="text-5xl font-bold">Sign Up to E-WALLET OASIS</h1>
      <div class="field mb-5 mt-5">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email',
          class: "w-full border-black border-2 p-2.5 focus:outline-none focus:shadow-[2px_2px_0px_rgba(0,0,0,1)]
                  focus:bg-[#FFA6F6] active:shadow-[2px_2px_0px_rgba(0,0,0,1)] rounded-md" %>
      </div>

      <div class="field mb-5">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'password',
          class: "w-full border-black border-2 p-2.5 focus:outline-none focus:shadow-[2px_2px_0px_rgba(0,0,0,1)]
                  focus:bg-[#FFA6F6] active:shadow-[2px_2px_0px_rgba(0,0,0,1)] rounded-md" %>
      </div>

      <div class="field mb-5">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'confirm password',
          class: "w-full border-black border-2 p-2.5 focus:outline-none focus:shadow-[2px_2px_0px_rgba(0,0,0,1)]
                  focus:bg-[#FFA6F6] active:shadow-[2px_2px_0px_rgba(0,0,0,1)] rounded-md" %>
      </div>

      <div class="actions mb-3">
        <%= f.submit "Sign up",
          class: "block text-center h-12 w-full border-black border-2 p-2.5 bg-bg hover:bg-[#79F7FF] hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] active:bg-[#00E1EF]" %>
      </div>

      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
